{% extends 'webapp/base.html' %}

{% block content %}
<h3>Welcome to the dashboard! {{ user }}</h3>
<hr>
<a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">
  create a new record &nbsp;
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
  </svg>
</a>
<hr>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Province</th>
      <th scope="col">Country</th>
      <th scope="col">Created at</th>

      <th scope="col">View</th>
    </tr>
  </thead>

  <tbody>
    {% if records %}

      {% for record in records %}
      <tr>
        <td>{{ record.id }}</td>
        <td>{{ record.first_name }} {{ record.last_name }}</td>
        <td>{{ record.email }}</td>
        <td>{{ record.phone }}</td>
        <td>{{ record.address }}</td>
        <td>{{ record.city }}</td>
        <td>{{ record.province }}</td>
        <td>{{ record.country }}</td>
        <td>{{ record.creation_date }}</td>

        <td> 
          <a style="text-decoration: none" href="{% url 'view-record' record.id %}">
            &nbsp; &nbsp; 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
              <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
            </svg>
          </a> 
        </td>
      
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock %}