{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <body>
    <div class="form-layout container bg-light shadown-md p-5" style="border-radius: 15px; width: 600px">
      <h3>Login to your account</h3>
      <hr>
      <br>

      <form method='POST' autocomplete='off'>
        {% csrf_token %}

        {{ form.username|as_crispy_field }}

        <br>

        {{ form.password|as_crispy_field }}

        <br>

        <button type="submit" class="btn btn-primary w-100 btn-block p-2">
          Login
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
        </button>
        
      </form>

      <br>

      <div class="text-center">
        <p>Don't have an account?</p> <a href="{% url 'register' %}">Register</a>
      </div>

    </div>
  </body>
{% endblock %}